<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<style>


</style>
<body>
<section class="banner d-flex justify-content-center align-items-center">


<div class="text-center">
<h1 style="color:white;" class="font-weight-bold">SportyShoes.com</h1>
<h4 style="color:white;">A Company that manufactures and sells sports Shoes.</h4>

<a th:href="@{/admin-login/}"><button class="btn btn-primary btn font-weight-bold">Administration Login</button></a>
</div></section>

</body>
</html>